.rightSection {
    background: radial-gradient(circle at 74% 94%, #222323 0%, 17.5%, rgba(34, 35, 35, 0) 35%),
        radial-gradient(circle at 1% 57%, rgba(22, 87, 217, 0.38) 0%, 8%, rgba(22, 87, 217, 0) 14%),
        radial-gradient(circle at 100% 37%, rgba(22, 87, 217, 0.51) 0%, 9%, rgba(22, 87, 217, 0) 18%),
        radial-gradient(circle at 79% 58%, rgba(162, 56, 255, 0.65) 0%, 17.5%, rgba(162, 56, 255, 0) 35%),
        radial-gradient(circle at 49% 50%, #000 0%, 100%, rgba(0, 0, 0, 0) 100%);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.rightin {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}


.arrowIcon {
    width: 20px;
    height: 20px;
}

.nochat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--textcol);
    font-size: 25px;
    height: 70%;
    text-align: center;
}

.nochat h1 {
    color: #e4e2e5;
    font-size: 30px;
    font-weight: 800;
    margin: 0;
}

.suggestioncard {
    border: 1px solid gray;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    background-color: #ffffff;
}



.messagebar {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    max-width: 900px;
    background-color: #ffffff11;
}

.inputField {
    flex: 1;
    border: none;
    color: #c9c4c4;
    outline: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.sendIcon {
    width: 60px;
    height: 30px;
    margin-left: 10px;
    color: rgb(25, 0, 53);
    cursor: pointer;
    transition: background-color 0.3s;
}

.sendIcon:hover {
    background-color: lightgray;
    border-radius: 5px;
}

.messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.message {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    padding: 10px;
    border-radius: 10px;
    max-width: 75%;
}

.userMessage {
    align-self: flex-end;
    background-color: #00000086;
    color: #ffffff;
}

.modelMessage {
    align-self: flex-start;
    background-color: #00000086;
    color: #ffffff;

}

.message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.details {
    border-radius: 10px;
    padding: 10px;
}

.details h2 {
    font-size: 18px;
    margin: 0;
    color: #ffffff;
}

.details p {
    font-size: 16px;
    margin: 5px 0 0;
    color: #ffffff;
}

.bottomsection {
    height: auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    position: sticky;
    bottom: 0;
    z-index: 100;
}

.bottomsection p {
    color: #c9c4c4;
    font-size: 14px;
    font-weight: bolder;
    margin: 0;
}

